cvxpy==1.5.3
fairsearchcore==1.0.4
folktables==0.0.12
ipykernel==6.29.5
joblib==1.4.2
jupyter==1.0.0
matplotlib==3.9.2
numpy==2.1.0
pandas==2.2.2
scikit-learn==1.5.1
scipy==1.14.1
seaborn==0.13.2
tqdm==4.66.5
